In [1]:
import polars as pl
from pprint import pprint

## Basics

In [30]:
vs_q = pl.scan_parquet('data/VS_Q1_2025.parquet')

In [37]:
q1 = vs_q.filter(
    pl.col('Region') != 'IMPORTED/GCC',
)

q2 = q1.select(
    unique_makes = pl.col('Make').cast(pl.Categorical).unique()
)

q3 = q1.select(
    InquiryDate = pl.col('InquiryDate').str.to_datetime('%Y-%m-%d %H:%M:%S').dt.date()
)

# q2 = q1.group_by(
#     pl.col('Make'),
# ).agg(
#     pl.col('Model').n_unique()
# )

In [8]:
q1.explain()

'Parquet SCAN [data/VS_Q1_2025.parquet]\nPROJECT */13 COLUMNS\nSELECTION: [(col("Region")) != ("IMPORTED/GCC")]'

In [38]:
pprint(q2.explain())

('SELECT [col("Make").strict_cast(Categorical(None, '
 'Physical)).unique().alias("unique_makes")]\n'
 'FROM\n'
 '  Parquet SCAN [data/VS_Q1_2025.parquet]\n'
 '  PROJECT 2/13 COLUMNS\n'
 '  SELECTION: [(col("Region")) != ("IMPORTED/GCC")]')

In [39]:
unique_makes = q2.collect()

In [40]:
dates = q3.collect()

In [42]:
unique_makes['unique_makes'].to_list()

['NISSAN',
 'MERCEDES BENZ',
 'TOYOTA',
 'GMC',
 'FORD',
 'PORSCHE',
 'HONDA',
 'TESLA',
 'MITSUBISHI',
 'VOLKSWAGEN',
 'RENAULT',
 'HYUNDAI',
 'KIA',
 'MG',
 'INFINITI',
 'LEXUS',
 'DODGE',
 'CHEVROLET',
 'JAC',
 'CADILLAC',
 'AUDI',
 'BENTLEY',
 'MAZDA',
 'LAND ROVER',
 'FIAT',
 'SUZUKI',
 'JEEP',
 'SUBARU',
 'SKODA',
 'BYD',
 'ISUZU',
 'CHANGAN',
 'TATA',
 'BMW',
 'JETOUR',
 'GREAT WALL',
 'PEUGEOT',
 'MAXUS',
 'MINI',
 'HUMMER',
 'LAMBORGHINI',
 'CHERY',
 'ASHOK LEYLAND',
 'HONGQI',
 'EXEED',
 'ALFA ROMEO',
 'LINCOLN',
 'VOLVO',
 'ROLLS ROYCE',
 'SMART',
 'GEELY',
 'JAGUAR',
 'CHRYSLER',
 'MCLAREN',
 'BESTUNE',
 'HAVAL',
 'FERRARI',
 'MASERATI',
 'XPENG',
 'ROX',
 'DAIHATSU',
 'DAEWOO',
 'GAC',
 'BAIC',
 'HERO',
 'ASTON MARTIN',
 'SATURN',
 'OPEL',
 'VICTORY',
 'MAHINDRA',
 'HINO',
 'DONGFENG',
 'DFSK',
 'BAJAJ',
 'KING LONG',
 'MERCURY',
 'JINBEI',
 'CMC',
 'CITROEN',
 'JMC',
 'BUGATTI',
 'SSANGYONG',
 'POLESTAR',
 'YUTONG',
 'HARLEY DAVIDSON',
 'AVATR',
 'ABARTH',
 'SKYWELL ',
 'LADA',
 'PONTIAC',
 'INEOS',
 'SAMSUNG',
 'SCION',
 'KTM',
 'BORGWARD',
 'YAMAHA',
 'BUICK',
 'SEAT',
 'FORTHING',
 'ZNA',
 'ACURA',
 'ZOTYE',
 'KAIYI',
 'LOTUS',
 'SCANIA',
 'MAN',
 'SOUEAST',
 'ZEEKR',
 'VOYAH',
 'JCB',
 'HUAWEI',
 'SAAB',
 'XIAOMI',
 'NIO',
 'FOTON',
 'MAYBACH',
 'RABDAN',
 'VGV',
 'LEAPMOTOR',
 'PROTON',
 'LIXIANG',
 'WULING',
 'FISKER',
 'IVECO',
 'EICHER',
 'LUXGEN',
 'BRILLIANCE',
 'LUCID',
 'ALPINE',
 'SERES',
 'HIPHI',
 'RIVIAN',
 'BAW',
 'AL DAMANI',
 'CHONGHONG',
 'LANCIA',
 'DAIMLER',
 'UAZ',
 'MORGAN',
 'PLYMOUTH',
 'RIMAC',
 'NETA',
 'DORCEN',
 'KEYTON',
 'DATSUN',
 'PAGANI',
 'GENESIS',
 'SHINERAY',
 'KOENIGSEGG',
 'ROEWE',
 'HAWTAI',
 'CEVO-C',
 'JIDU',
 'DORCEN ',
 'FREIGHTLINER',
 'LYNK & CO',
 'FAW',
 'NWTN']

In [67]:
q4 = q1.filter(
    pl.col('Make').is_not_null(),
    pl.col('Model').is_not_null(),
).group_by(
    pl.col('Make'),
).agg(
    pl.col('Model').unique()
)

In [50]:
pprint(q4.explain())

('AGGREGATE\n'
 '  [col("Model").unique()] BY [col("Make")]\n'
 '  FROM\n'
 '  Parquet SCAN [data/VS_Q1_2025.parquet]\n'
 '  PROJECT 3/13 COLUMNS\n'
 '  SELECTION: [([(col("Model").is_not_null()) & ([(col("Region")) != '
 '("IMPORTED/GCC")])]) & (col("Make").is_not_null())]')

In [73]:
make_models = q4.collect()
makes = make_models['Make'].to_list()
models = make_models['Model'].to_list()
make_model_dict = {make: models for make, models in zip(makes, models)}
make_model_dict

{'BENTLEY': ['MULSANNE',
  'AZURE',
  'BROOKLANDS',
  'FLYING SPUR',
  'BENTAYGA',
  'CONTINENTAL',
  'ARNAGE'],
 'HIPHI': ['Z'],
 'HONGQI': ['H7',
  'OUSADO',
  'H9',
  'E-HS9',
  'H6',
  'HS7',
  'E-QM5',
  '',
  'H5',
  'HS3',
  'HS5'],
 'JAC': ['S3',
  'S4',
  'J4',
  '',
  'E30X',
  'S3 PLUS',
  'J5',
  'S7',
  'M4',
  'SUNRAY',
  'IEV6',
  'M1',
  'JS4',
  'M5',
  'J7',
  'JS6',
  'T8',
  'J6'],
 'LADA': ['NIVA'],
 'POLESTAR': ['2', '4'],
 'NETA': ['NETA U'],
 'DONGFENG': ['T5',
  'AX7',
  'FORTHING',
  'VENUCIA',
  'AEOLUS A30',
  'SHINE',
  'M-HERO',
  'JINGYI X5',
  'K33-513',
  'MAGE'],
 'FERRARI': ['812',
  'F12',
  'PORTOFINO',
  '458',
  'LAFERRARI',
  'SF90',
  'SF90 STRADALE',
  '488',
  'F8 SPIDER',
  '612',
  'F8',
  'F8 TRIBUTO',
  '360',
  '599',
  'SF90 SPIDER',
  'F430',
  '296',
  'ROMA',
  'ENZO',
  'CALIFORNIA',
  'PUROSANGUE',
  'DAYTONA',
  'GTC4',
  'FF',
  'F355'],
 'SAMSUNG': ['SM3'],
 'MINI': ['COOPER',
  '',
  'COUPE',
  'COUNTRYMAN',
  'JOHN COOPER WORKS',
  'PACEMAN',
  'CLUBMAN',
  'ROADSTER'],
 'EXEED': ['VX', 'ET', 'TXL', 'LX', 'RX'],
 'KTM': ['X BOW'],
 'CHRYSLER': ['PACIFICA',
  'CROSSFIRE',
  '300',
  '300 C',
  'GRAND VOYAGER',
  'VOYAGER',
  'SEBRING',
  'LHS',
  'CONCORDE',
  '200',
  '300 S',
  'CHARGER',
  'PT CRUISER',
  ''],
 'SUZUKI': ['SWIFT',
  'LIANA',
  'KIZASHI',
  'EECO',
  '',
  'S-PRESSO',
  'GSX-S1000',
  'IGNIS',
  'VITARA',
  'APV',
  'GRAND VITARA',
  'CIAZ',
  'DZIRE',
  'ALTO',
  'XL7',
  'AERIO',
  'FRONX',
  'GSXS1300 RAMO',
  'GSX1300RRQ ',
  'CARRY',
  'CELERIO',
  'BALENO',
  'ERTIGA',
  'JIMNY',
  'SX4'],
 'MORGAN': ['M3W', 'PLUS 6'],
 'AL DAMANI': ['DMV 300'],
 'FORD': ['F-250',
  'KA',
  'EXPLORER',
  'FUSION',
  'FOCUS',
  'FREESTAR',
  'EVEREST',
  'F-450',
  'BRONCO SPORT',
  'F-350',
  'BRONCO',
  'FIVE HUNDRED',
  'EXPLORER SPORT TRAC',
  'TAURUS',
  'ECONOLINE',
  'TERRITORY',
  'F-550',
  'EXPEDITION',
  'FIESTA',
  'MUSTANG MACH E',
  'F-150',
  'C-MAX',
  'CROWN VICTORIA',
  'EXCURSION',
  'MONDEO',
  'ESCORT',
  'THUNDERBIRD',
  'GT',
  'FLEX',
  'ESCAPE',
  'TRANSIT CUSTOM',
  'GT40',
  'RANGER',
  'TOURNEO',
  'E-250',
  'TRANSIT CONNECT',
  '',
  'KUGA',
  'F-250 SUPER DUTY',
  'ECOSPORT',
  'TRANSIT',
  'MUSTANG',
  'EDGE',
  'SUPER DUTY',
  'FIGO'],
 'KING LONG': ['WIDE BODY PASSENGER VAN', 'PANEL VAN'],
 'FIAT': ['RAM',
  '595',
  '500L',
  'FULLBACK',
  '500',
  '695',
  '500E',
  'FIORINO',
  'TIPO',
  'PANDA',
  'LINEA',
  '124',
  'DUCATO'],
 'JEEP': ['GRAND CHEROKEE',
  'GLADIATOR',
  'GRAND WAGONEER',
  '',
  'WRANGLER',
  'COMMANDER',
  'PATRIOT',
  'COMPASS',
  'CHEROKEE',
  'RENEGADE',
  'GRAND CHEROKEE L',
  'WAGONEER',
  'LIBERTY',
  'WRANGLER UNLIMITED'],
 'XIAOMI': ['SU7'],
 'LUXGEN': ['S5', 'U7', '7', 'U6'],
 'MAZDA': ['CX-5',
  'TRIBUTE',
  '3',
  'E2000',
  'BT-50',
  'CX-7',
  '6 ULTRA',
  'MPV',
  'MX-5',
  'CX30',
  '323',
  '2',
  'XEDOS',
  '5',
  'MX-5 MIATA',
  'CX 60',
  '626',
  '6',
  'CX-9',
  'CX-3',
  'RX-8',
  'CX-90'],
 'DAIHATSU': ['GRAN MAX VAN',
  'CHARADE',
  'MATERIA',
  'GRAN MAX',
  'ROCKY',
  'YR-V',
  'GRAN MAX PICKUP',
  'SIRION',
  'TERIOS'],
 'ABARTH': ['595', '500', '695'],
 'ZEEKR': ['001', '009', 'X'],
 'PAGANI': ['HUAYRA'],
 'ASTON MARTIN': ['DB7',
  'DB11',
  'DB12',
  'VALOUR',
  'RAPIDE',
  'DBS\tSUPERLEGGERA',
  'DBS',
  'DBX',
  'VANQUISH',
  'VANTAGE',
  'DB9'],
 'JAGUAR': ['F-PACE',
  'E-PACE',
  'S-TYPE',
  'XK',
  'XE',
  'XF',
  'F-TYPE',
  'I-PACE',
  '',
  'XJ',
  'XJL',
  'X-TYPE'],
 'SSANGYONG': ['TORRES',
  'TIVOLI',
  'KYRON',
  'REXTON',
  'RODIUS',
  'KORANDO',
  'ACTYON',
  'CHAIRMAN'],
 'BUGATTI': ['DIVO', 'VEYRON', 'CHIRON'],
 'ASHOK LEYLAND': ['PARTNER', 'BUS'],
 'TESLA': ['MODEL X', 'MODEL S', 'MODEL Y', 'MODEL 3', 'CYBERTRUCK'],
 'CMC': ['VERYCA', '', 'Z7'],
 'ROX': ['01'],
 'INFINITI': ['Q40',
  'M37',
  'M56',
  'QX55',
  'JX 35',
  'M35',
  '',
  'QX30',
  'FX35',
  'QX56',
  'QX70',
  'FX50',
  'Q70',
  'G37',
  'QX4',
  'M45',
  'Q45',
  'FX37',
  'Q60',
  'G35',
  'JX',
  'I35',
  'QX50',
  'G25',
  'Q50',
  'EX35',
  'Q30',
  'QX80',
  'EX37',
  'QX60'],
 'FISKER': ['KARMA'],
 'CHONGHONG': ['VOYAH DREAMER'],
 'FOTON': ['SAUVANA', 'VIEW', 'AUMARK', 'BJ 6549'],
 'HERO': ['HUNK', ''],
 'LAMBORGHINI': ['AVENTADOR',
  'COUNTACH',
  'DIABLO',
  'GALLARDO',
  'CENTENARIO',
  'HURACAN',
  'REVUELTO',
  'MURCIELAGO',
  'URUS'],
 'MG': ['MG 3',
  'ONE',
  'MG 360',
  'MG 4',
  '',
  'MG 350',
  'MG 550',
  '3',
  'RX9',
  '750',
  'RX8',
  'ZS',
  'T60',
  'RX5',
  'WHALE',
  'HS',
  '01',
  '7',
  '6',
  '350',
  'RX 5 PLUS',
  'GT',
  'CYBERSTER',
  'GS',
  '5',
  'MG 750'],
 'MERCEDES BENZ': ['METRIS',
  'M-CLASS',
  'V-CLASS',
  'EQC',
  'GLC-CLASS',
  'GLE-CLASS',
  'CLK-CLASS',
  'GLA-CLASS',
  'CL-CLASS',
  'EQV',
  'EQE',
  'SL-CLASS',
  'R-CLASS',
  'S-CLASS',
  'CLA-CLASS',
  'CLC-CLASS',
  'GL-CLASS',
  'GLB-CLASS',
  'GLS-CLASS',
  'E-CLASS',
  'EQA',
  'X-CLASS',
  'GLK-CLASS',
  'C-CLASS',
  '',
  'SLS AMG',
  'SLC-CLASS',
  'VITO',
  'SPRINTER',
  'EQS',
  'VIANO',
  'CLS-CLASS',
  'B-CLASS',
  'CLE-CLASS',
  'A-CLASS',
  'G-CLASS',
  'SLK-CLASS',
  'AMG',
  'SLR MCLAREN',
  'EQB'],
 'MERCURY': ['SABLE', 'MOUNTAINEER', 'GRAND MARQUIS', 'MARINER', 'MILAN'],
 'CHANGAN': ['CS35',
  'SL03',
  'CS85',
  'CS55 Plus',
  'CS75 PLUS',
  'CS75',
  'CS85 PLUS',
  'DEEPAL',
  'E STAR',
  'UNI T',
  'ALSVIN',
  'UNI-V',
  '',
  'UNI K',
  'ALSVIN V7',
  'EADO',
  'CS95',
  'CS35 PLUS',
  'EADO PLUS'],
 'GMC': ['HUMMER EV',
  '',
  'SAVANA',
  'ENVOY',
  'SEIRRA',
  'ACADIA',
  'CANYON',
  'TERRAIN',
  'SUBURBAN',
  'YUKON',
  'SAVANA EXPLORER',
  'SIERRA 1500'],
 'RENAULT': ['',
  'MASTER',
  'EXPRESS',
  'DOKKER',
  'ZOE',
  'DUSTER',
  'SAFRANE',
  'LAGUNA',
  'LOGAN',
  'A110 R LE MANS',
  'TALISMAN',
  'KOLEOS',
  'FLUENCE',
  'TWIZY',
  'CAPTUR',
  'TRAFIC',
  'SYMBOL',
  'SANDERO',
  'ARKANA',
  'MEGANE',
  'ESPACE',
  'CLIO',
  'SUNNY'],
 'CEVO-C': ['C'],
 'CITROEN': ['C ELYSEE',
  'DS7',
  'DS5',
  'C4',
  'C5 AIRCROSS',
  'SPACETOURER',
  'C3 AIRCROSS',
  'BERLINGO',
  'C3',
  'DS3',
  'C4 AIRCROSS',
  'C4X'],
 'NWTN': ['NWONE'],
 'PORSCHE': ['CAYENNE',
  'Taycan',
  'CAYMAN',
  'TAYCAN',
  'BOXSTER',
  '911',
  'MACAN',
  'CARRERA',
  '718',
  'PANAMERA',
  '918'],
 'DAEWOO': ['SPARK', 'MATIZ', 'VERITAS'],
 'CHERY': ['ARRIZO 5',
  'TIGGO 8',
  'TIGGO 4 PRO',
  'ARRIZO 8',
  'TIGGO 2',
  'TIGGO 7 PRO MAX',
  'Tiggo 7 Pro',
  'T11 TIGGO',
  'ARRIZO 7',
  'TIGGO 4',
  'OMODA ',
  'EASTAR',
  'S11 QQ',
  'TIGGO 8 PRO MAX',
  'ARRIZO 6',
  'E5',
  'TIGGO 7',
  'TIGGO 3',
  'ICAR V23',
  'ICAR 03',
  'JAECOO J7',
  'ARRIZO 6 PRO',
  'TIGGO 5',
  'ARRIZO 3',
  'TIGGO 9',
  'TIGGO 8 PRO'],
 'KOENIGSEGG': ['JESKO'],
 'KAIYI': ['E5', 'X3 PRO', 'X7'],
 'ALFA ROMEO': ['156',
  '159',
  'TONALE',
  '4C',
  'GIULIETTA',
  'SPIDER',
  'GT',
  '166',
  'STELVIO',
  'MITO',
  'GIULIA'],
 'CHEVROLET': ['TRAVERSE',
  'COLORADO',
  'CRUZE',
  'ASTRO',
  'EQUINOX EV',
  'SSR',
  'CAPRICE',
  'EXPRESS',
  'TRAX',
  'HHR',
  'CAMARO',
  'SPARK',
  'COBALT',
  'AVEO',
  'UPLANDER',
  'IMPALA',
  'SONIC',
  'MENLO',
  'EPICA',
  'MONZA',
  'TRACKER',
  'MALIBU',
  'SILVERADO',
  'AVALANCHE',
  'BLAZER',
  'OPTRA',
  'LUMINA',
  'TAHOE',
  'EQUINOX',
  'TRAIL BLAZER',
  'SUBURBAN',
  '',
  'CORVETTE',
  'CAVALIER',
  'GROOVE',
  'BOLT',
  'CAPTIVA'],
 'LOTUS': ['EMIRA', 'EXIGE', 'EVORA', 'ELETRE'],
 'NISSAN': ['MICRA',
  'MURANO',
  '370Z',
  'TITAN',
  'ARIYA',
  'PULSAR',
  'QUEST',
  'Z',
  'FRONTIER',
  'FX35',
  'URVAN',
  'SUNNY',
  'ARMADA',
  'MAGNITE',
  'GLORIA',
  'PRIMERA',
  '350Z',
  'MAXIMA',
  'SENTRA',
  'ALTIMA',
  'GT-R',
  'CUBE',
  'PICK UP',
  'PATROL',
  'TIIDA',
  'JUKE',
  'CIVILIAN',
  'KICKS',
  'LEAF',
  'XTERRA',
  'QASHQAI',
  'TEANA',
  '',
  'PATHFINDER',
  '240SX',
  'ROGUE',
  'NAVARA',
  'X TRAIL',
  'BLUE BIRD',
  'TERRANO',
  'VERSA'],
 'TOYOTA': ['SUPRA',
  'HIACE',
  'RAIZE',
  'FORTUNER',
  'SCION IA',
  'VENZA',
  'INNOVA',
  'C-HR',
  '',
  'SIENNA',
  'ECHO',
  'LAND CRUISER 70',
  'SCION XB',
  'FRONT LANDER',
  'VERSO',
  'GR 86',
  'ALPHARD',
  'CAMRY HYBRID',
  'PRIUS PRIME',
  'VELOZ',
  'HILUX',
  'FT86',
  'CAMRY',
  'PREVIA',
  'TERCEL',
  'AVENSIS',
  'CELICA',
  'URBAN CRUISER',
  'SCION IQ',
  'COASTER',
  'IQ',
  'COROLLA',
  'AVALON',
  'COROLLA CROSS',
  'GRANVIA',
  'SCION IM',
  'GRAND HIGHLANDER',
  'AURIS',
  'TOYOTA 86',
  'SEQUOIA',
  'RUSH',
  'FJ CRUISER',
  'CROWN',
  'LAND CRUISER PRADO',
  'LEVIN',
  'YARIS',
  'SOLARA',
  'AVANZA',
  'MR2',
  'LAND CRUISER PICK UP',
  'PRIUS',
  'RAV 4',
  'LAND CRUISER',
  '4RUNNER',
  'ZELAS',
  'LITE ACE',
  'TUNDRA',
  'AURION',
  'XA',
  'BZ3',
  'HIGHLANDER',
  'BZ4X',
  'TACOMA'],
 'CADILLAC': ['XT6',
  'XTS',
  'XT5',
  'SE VILLE',
  'CT6',
  'XT4',
  'STS',
  'SRX',
  'ESCALADE',
  'CT4',
  'ATS',
  'DE VILLE',
  'CT5',
  'DTS',
  'XLR',
  'CTS'],
 'MAXUS': ['T60', 'V80', 'G90', 'G10', '', 'D60', 'G50', 'D 90'],
 'JIDU': ['01'],
 'AUDI': ['SQ7',
  'S6',
  'RS6',
  'Q5 E TRON',
  'S4',
  'RS E-TRON ',
  'E-TRON GT',
  'RS Q3',
  'A3',
  'Q6 E-TRON',
  'S5',
  'R8',
  'E-TRON',
  'RS Q8',
  'RS5',
  'SQ5',
  'Q8',
  'Q2',
  'A5',
  'Q5',
  'S8',
  'Q2 E TRON',
  'Q3',
  'A6',
  'A4',
  'A1',
  'SQ6 E-TRON',
  'RS7',
  'Q8 E TRON',
  'Q4 E-TRON',
  'TT',
  'RS3',
  'Q7',
  'RS4',
  'S7',
  'S3',
  'A8 L',
  'A8',
  'SQ8',
  '',
  'A7'],
 'TATA': ['XENON', 'BUS'],
 'GAC': ['AION ',
  'GA3',
  'GS7',
  'EMKOO',
  'GA6',
  'GN6',
  'GS4',
  'GS8',
  'GS5',
  'CORVETTE',
  'GN8',
  'GS3',
  'GA4',
  'M8',
  'GA8',
  'GM8',
  'EMPOW'],
 'SAAB': ['9-3'],
 'VOLKSWAGEN': ['BORA',
  'ARTEON',
  '',
  'ID 3',
  'PHAETON',
  'SCIROCCO',
  'GOLF PLUS',
  'PASSAT',
  'AMAROK',
  'SHARAN',
  'T-ROC',
  'E-LAVIDA',
  'BEETLE',
  'CARAVELLE',
  'TOUAREG',
  'POLO',
  'ATLAS',
  'ROUTAN',
  'ID 6 CROZZ',
  'VILORAN',
  'ID 4 CROZZ',
  'T-CROSS',
  'CRAFTER',
  'CADDY',
  'TERAMONT',
  'GOLF R',
  'ID 6',
  'TRANSPORTER',
  'EOS',
  'MULTIVAN',
  'TIGUAN',
  'VOLKSWAGEN CC',
  'GOLF',
  'GOLF GTI',
  'TAOS',
  'JETTA'],
 'MASERATI': ['QUATTROPORTE',
  'GHIBLI',
  'Grecale',
  'GHIBLI HYBRID',
  'MC 20',
  'LEVANTE',
  'GRANTURISMO',
  'COUPE',
  'GRECALE',
  'GRANCABRIO'],
 'BRILLIANCE': ['FRV', 'V5', 'H530'],
 'SKYWELL ': ['ET5'],
 'FAW': ['BESTURN X80'],
 'BORGWARD': ['BX5', 'BX7'],
 'FORTHING': ['S7', 'T5 HEV'],
 'VOYAH': ['DREAMER', 'FREE'],
 'DORCEN': ['DOMY X5', 'DOMY X7'],
 'MCLAREN': ['750S',
  '650S',
  '720S',
  '540C',
  '570GT',
  '765LT',
  'ARTURA',
  '570S',
  'GT',
  '675LT',
  '600LT',
  'MP4-12C',
  'SENNA',
  'SPEEDTAIL',
  'P1'],
 'SKODA': ['SUPERB',
  'YETI',
  'OCTAVIA',
  'RAPID',
  'KODIAQ',
  'KAROQ',
  'KAMIQ',
  'SCALA',
  'FABIA',
  'KUSHAQ'],
 'BYD': ['YUAN UP',
  'ATTO 3',
  'DOLPHIN',
  'LEOPARD',
  'QIN PRO',
  'QIN PLUS',
  'S7',
  'SONG PLUS',
  'SEAL',
  'F3',
  'SEAGULL',
  'SEA LION 07',
  'DENZA',
  'YUAN PLUS',
  'E2',
  'S6',
  'HAN',
  'LEOPARD 8',
  'YANGWANG U8',
  'SONG',
  'DESTROYER 05',
  'TANG'],
 'RABDAN': ['SEVEN', 'ONE'],
 'OPEL': ['ASTRA',
  'OMEGA',
  'CROSSLAND X',
  'CASCADA',
  'ZAFIRA TOURER',
  '',
  'CORSA',
  'MOKKA',
  'ANTARA',
  'INSIGNIA',
  'ZAFIRA',
  'MERIVA',
  'GRANDLAND X'],
 'GEELY': ['GC7',
  'ATLAS PRO',
  'GC6',
  'EMGRAND GS SPORT',
  'GC2',
  'PREFACE',
  'AZKARRA',
  'JIYUE 01',
  'STARRAY',
  'EMGRAND GT',
  'EMGRAND 7',
  'TUGELLA',
  'CK',
  'GEOMETRY C',
  'RIDDARA RD6',
  'EMGRAND 8',
  'OKAVANGO',
  'GX2',
  'EC7',
  '',
  'MONJARO',
  'EMGRAND X7',
  'COOLRAY',
  'EMGRAND',
  'CITYRAY',
  'EC8'],
 'SUBARU': ['CROSSTREK',
  'XV',
  'FORESTER',
  'IMPREZA',
  'WRX',
  'BRZ',
  'LEGACY',
  'LEGACY OUTBACK',
  'TRIBECA',
  'OUTBACK'],
 'ROEWE': ['ERX5'],
 'BMW': ['I7',
  'IX3',
  'RNINET',
  'ALPINA',
  'i3',
  'I3S',
  'IX2',
  'XM',
  '6 SERIES',
  'IX1',
  'F700GS',
  'Z3',
  '2 SERIES',
  'X4',
  'IX',
  'i8',
  '8 SERIES',
  'X1',
  'X2',
  'R1250RT',
  'R 18',
  'X7',
  'Z8',
  'Z4',
  '7 SERIES',
  'S1000 XR',
  'I5',
  'M 1000 RR',
  'X3',
  'X6',
  'RNineT SCRAMBLER',
  'F850GS',
  'R1250 GS',
  'X5',
  'K 1600 B',
  '5 SERIES',
  'S1000 R',
  'I4',
  '',
  '3 SERIES',
  '1 SERIES',
  'R1200GS',
  'K1600GT',
  'S1000 RR',
  'K1600GTL',
  '4 SERIES'],
 'GREAT WALL': ['',
  'WINGLE',
  'TANK 700',
  'WEY GAOSHAN',
  'TANK 300',
  'TANK 500',
  'DEER',
  'POER'],
 'LYNK & CO': ['08 EM-P'],
 'HYUNDAI': ['KONA',
  'MONICA',
  'H1',
  'ACCENT',
  'COUPE',
  'ELANTRA',
  'SANTA FE',
  'LAFESTA',
  'GRANDEUR',
  'STAREX',
  'TUCSON',
  'AERO',
  'GENESIS G90',
  'EQUUS',
  'ATOS',
  'VENUE',
  'AZERA',
  'I 40',
  'GENESIS GV70',
  'VERACRUZ',
  'GENESIS GV80',
  'GENESIS COUPE',
  'HD65',
  'TIBURON',
  'TRAJET',
  'ENTOURAGE',
  'IONIQ 5',
  'NEXO',
  'IONIQ',
  'PALISADE',
  'GENESIS G80',
  'AVANTE',
  'GALLOPER',
  'SONATA',
  'I 20',
  'GRAND SANTA FE',
  'MATRIX',
  'VERNA',
  'TERRACAN',
  'SANTA CRUZ',
  'GRAND STAREX',
  'I 10',
  'CRETA GRAND',
  'I 30',
  'IONIQ 9',
  'COUNTY',
  'STARGAZER',
  'EON',
  'STARIA',
  'GENESIS',
  'IONIQ 6',
  'GRAND I10',
  'VELOSTER',
  'GETZ',
  'SANTA FE XL',
  'GRAND CRETA',
  'GENESIS G70',
  'ELANTRA COUPE',
  'CENTENNIAL',
  '',
  'CRETA',
  'GENESIS GV60'],
 'DFSK': ['GLORY 580',
  'FENGON 500',
  'FENGON IX5',
  '',
  'FENGON 600',
  'C 32',
  'FENGON',
  'C35',
  'EVR SERES-7'],
 'YUTONG': ['YUTONG'],
 'ZOTYE': ['T300 ', 'DAMAI X5', 'T700', 'T600', 'Z300', 'DAMAI X7'],
 'BESTUNE': ['T77 ', 'T77 PRO', 'T33', 'T99', 'X80', 'B70', '', 'T90', 'B70S'],
 'HAVAL': ['H8', 'JOLION', 'H2', 'DARGO', 'H7', 'H6', 'H9'],
 'SOUEAST': ['DX5', 'DX7', 'DX3', 'DX8S'],
 'SCION': ['TC', 'XB', 'FR-S', 'IQ', 'XD', ''],
 'PEUGEOT': ['BOXER',
  '208',
  '5008',
  'RIFTER',
  '207',
  '508',
  '407',
  '307',
  '206',
  'iON',
  '408',
  'TRAVELLER',
  'EXPERT',
  '2008',
  '308',
  '3008',
  'LANDTREK',
  '301',
  'RCZ',
  'E PARTNER',
  'E EXPERT',
  'PARTNER',
  '308 CC'],
 'HONDA': ['ACCORD',
  'INSIGHT',
  'CRX',
  'FIT',
  'PASSPORT',
  'PRELUDE',
  'LEGEND',
  'HRV',
  'E NS1',
  'ZR V',
  'RIDGELINE',
  'GOLD WING',
  'ODYSSEY J',
  'ACCORD CROSSTOUR',
  'PILOT',
  'ELEMENT',
  'MRV',
  'CRV',
  'CRZ',
  'CLARITY',
  'E NP1',
  'CIVIC',
  'JAZZ',
  'CITY',
  'ENP2',
  'S2000',
  'STREAM',
  'ACCORD COUPE',
  'ODYSSEY'],
 'PONTIAC': ['SUNFIRE', 'GRAND PRIX', 'FIREBIRD', 'SOLSTICE'],
 'DODGE': ['MAGNUM',
  'VIPER',
  'DURANGO',
  'DART',
  'CARAVAN',
  'NEON',
  'CHARGER',
  'RAM 1500',
  'CHALLENGER',
  'AVENGER',
  'DAKOTA',
  'JOURNEY',
  '',
  'RAM',
  'NITRO',
  'GRAND CARAVAN',
  'CALIBER'],
 'BUICK': ['ENCLAVE', 'VERANO', 'ENCORE', 'LESABRE'],
 'DORCEN ': ['DOMY X5'],
 'HUMMER': ['H3T', 'H3', 'H1', 'H2'],
 'HINO': ['Dutro', 'DUTRO', '300', 'TRUCK'],
 'LINCOLN': ['CORSAIR',
  'MKS',
  'MKC',
  'TOWN CAR',
  'NAVIGATOR',
  'MKX',
  'CONTINENTAL',
  'NAUTILUS',
  'AVIATOR',
  'NAVIGATOR L',
  'MKZ',
  'MKT'],
 'UAZ': ['HUNTER'],
 'SATURN': ['SKY'],
 'AVATR': ['11', '07', '12'],
 'MITSUBISHI': ['ASX',
  '',
  'XFORCE',
  'MIRAGE',
  'FUSO CANTER',
  'CANTER',
  'LANCER EVO',
  'XPANDER CROSS',
  'SPACE WAGON',
  'MONTERO',
  'LANCER FORTIS',
  'XPANDER',
  'ECLIPSE',
  'PAJERO',
  'GRANDIS',
  'MAGNA',
  'NATIVA',
  'PAJERO IO',
  'GALANT',
  'ROSA',
  'MONTERO SPORT',
  'L300',
  'LANCER EX',
  'CANTER VAN',
  'ATTRAGE',
  'OUTLANDER',
  'LANCER',
  'PAJERO SPORT',
  'AIRTREK EV',
  'COLT',
  'ECLIPSE CROSS',
  'FUSO',
  'L200'],
 'XPENG': ['P7', 'G9', 'P5'],
 'RIVIAN': ['R1S', 'R1T'],
 'ROLLS ROYCE': ['CULLINAN',
  'PHANTOM',
  'SPECTRE',
  'WRAITH',
  'GHOST',
  'DAWN',
  'SILVER SPIRIT'],
 'SEAT': ['EXEO', 'LEON', 'ALTEA', 'IBIZA'],
 'SMART': ['FORFOUR', 'FORTWO', 'BRABUS'],
 'JMC': ['GRAND AVENUE', 'PICK UP', 'BOARDING N30'],
 'LAND ROVER': ['RANGE ROVER SPORT',
  'LR2',
  'RANGE ROVER VELAR',
  'FREELANDER',
  'RANGE ROVER',
  'DISCOVERY',
  'RANGE ROVER EVOQUE',
  'LR3',
  'DISCOVERY SPORT',
  '',
  'DEFENDER',
  'LR4'],
 'NIO': ['EL8', 'ES8', 'EC6'],
 'BAW': ['212'],
 'INEOS': ['GRENADIER'],
 'LIXIANG': ['L6', 'L9', 'L7'],
 'KIA': ['EV5',
  'STONIC',
  'K3 EV',
  'OPIRUS',
  'PEGAS',
  'BORREGO',
  'NIRO',
  'K9',
  'FORTE KOUP',
  'K8',
  'RIO',
  'OPTIMA',
  'SORENTO',
  'EV4',
  'CARENS',
  'K900',
  'SEDONA',
  'KX1',
  'SPORTAGE',
  'QUORIS',
  'TASMAN',
  'PICANTO',
  'TELLURIDE',
  'PRIDE',
  'SPORTAGE L',
  'SOUL',
  'K3',
  'CERATO',
  'EV9',
  'GRAND CARNIVAL',
  'STINGER',
  'K5',
  'CARNIVAL',
  'SPECTRA',
  'RAY',
  'MORNING',
  'EV6',
  '',
  'SONET',
  'K7',
  'CERATO KOUP',
  'CADENZA',
  'SELTOS',
  'K3000',
  'FORTE',
  'MOHAVE'],
 'BAJAJ': ['', 'PULSAR'],
 'JINBEI': ['RUICHI', 'H2L'],
 'PLYMOUTH': ['PROWLER'],
 'HAWTAI': ['A25'],
 'ACURA': ['TL',
  'CSX',
  'MDX',
  'INTEGRA',
  'NSX',
  '',
  'RSX',
  'RLX',
  'TSX',
  'ILX',
  'RDX',
  'TLX'],
 'VOLVO': ['S60',
  'S40',
  'S80',
  'S90',
  'V70',
  'V50',
  'EX30',
  'XC90',
  'C70',
  'C40',
  'XC60',
  'XC40',
  'XC70',
  'V60',
  'V40',
  'C30'],
 'RIMAC': ['NEVERA'],
 'ISUZU': ['TROOPER',
  'FTR',
  'NKR',
  'RODEO',
  'DMAX',
  'COLORADO',
  'NPR',
  'MU-X',
  'NMR'],
 'BAIC': ['BJ 40 PLUS',
  'BJ 40 L',
  'E150',
  'D20',
  'BJ80',
  'A1',
  'D50',
  'X55',
  'BJ30',
  'BJ 40',
  '',
  'U5 PLUS',
  'X 7 ',
  '115',
  'X 35',
  'BJ60'],
 'HUAWEI': ['AITO M9', 'AITO M7', 'SERES 5', 'AITO M5', 'SERES'],
 'MAHINDRA': ['SCORPIO', 'XUV3XO', 'XUV500'],
 'LEAPMOTOR': ['C16', 'T03', 'C10'],
 'PROTON': ['SAGA', 'GEN-2'],
 'MAYBACH': ['S CLASS', '62', '57'],
 'VGV': ['U70 PRO', 'U75 PLUS'],
 'SERES': ['SERES 5'],
 'LUCID': ['AIR'],
 'WULING': ['MINI'],
 'LEXUS': ['GS460',
  'GS450H',
  '',
  'IS300',
  'LX570',
  'LS460L',
  'LS500H',
  'LC500 HYBRID',
  'RX330',
  'GS300',
  'LX470',
  'RX400H',
  'RX450HL',
  'SC300',
  'LS500',
  'IS500',
  'GS200T',
  'IS250C',
  'NX350',
  'HS250H',
  'NX200',
  'RC350',
  'RX450H',
  'RX200T',
  'SC400',
  'RC TURBO',
  'GS350',
  'CT200H',
  'TX 350',
  'LFA',
  'LX450D',
  'NX250',
  'RX350',
  'IS350C',
  'GS250',
  'ES300',
  'GS400',
  'LX700H',
  'RX500H',
  'RX350L',
  'NX300H',
  'RX350H',
  'UX 250H',
  'NX200T',
  'ES330',
  'RC200t',
  'LS600H',
  'IS200T',
  'IS250',
  'ES250',
  'UX300H',
  'LX600',
  'RX300',
  'ES350',
  'LS460',
  'UX200',
  'RC F',
  'GX460',
  'GX470',
  'GS TURBO',
  'LM300H',
  'LM',
  'ISF',
  'ES300h',
  'LS350',
  'LC500',
  'NX350H',
  'LS400',
  'IS TURBO',
  'SC430',
  'LM 350H',
  'NX300',
  'IS300C',
  'RC300',
  'LS430',
  'GS F',
  'IS350',
  'GX550',
  'GS430'],
 'VICTORY': ['V 2', '', 'K2', 'V 1'],
 'JETOUR': ['X50',
  'T2',
  'LX',
  'X90',
  'X 70',
  '',
  'X90 PLUS',
  'DASHING',
  'X70 PLUS',
  'T1'],
 'ALPINE': ['A110 R LE MANS'],
 'ZNA': ['RICH', 'OTING']}

In [185]:
make_count_q = q1.filter(
    pl.col('Make').is_not_null(),
).select(
    pl.col('Make').cast(pl.Categorical)
).group_by(
    pl.col('Make'),
).agg(
    pl.col('Make').count().alias('make_count'),
)
make_count_q = make_count_q.with_columns(
    total_queries = pl.col('make_count').sum().alias('total_queries')
)

make_count_q = make_count_q.select(
    make = pl.col('Make'),
    make_count_percentage = (pl.col('make_count') / pl.col('total_queries') * 100).cast(pl.Float32)
)

make_count = make_count_q.collect()
make_count.sort(by='make_count_percentage', descending=True).top_k(10, by='make_count_percentage').to_pandas()

            make  make_count_percentage
0         TOYOTA              20.847767
1         NISSAN              16.581478
2        HYUNDAI               5.936525
3          LEXUS               5.377803
4  MERCEDES BENZ               5.340772
5     MITSUBISHI               4.166034
6          HONDA               3.670574
7            KIA               3.578052
8           FORD               3.380593
9      CHEVROLET               3.327559

In [70]:
vv_q = pl.scan_parquet('data/VV_Q1_2025.parquet')

In [113]:
price_bracket_q = vv_q.filter(
    pl.col('Price').is_not_null(),
).select(
    pl.col('Price'),
    pl.col('Price').cut(
        breaks=[50000, 100000, 250000, 500000, 1000000],
        labels=['<50K', '50K to 100K', '100K to 250K', '250K to 500K', '500K to 1M', '>1M'],
    ).alias('PriceBracket'),
)

In [114]:
pprint(price_bracket_q.explain())

('SELECT [col("Price"), col("Price").cut().alias("PriceBracket")]\n'
 'FROM\n'
 '  Parquet SCAN [data/VV_Q1_2025.parquet]\n'
 '  PROJECT 1/33 COLUMNS\n'
 '  SELECTION: col("Price").is_not_null()')

In [116]:
price_bracket = price_bracket_q.collect()

In [117]:
price_bracket

shape: (2_120_775, 2)
┌───────────┬──────────────┐
│ Price     ┆ PriceBracket │
│ ---       ┆ ---          │
│ f64       ┆ cat          │
╞═══════════╪══════════════╡
│ 710477.49 ┆ 500K to 1M   │
│ 29102.0   ┆ <50K         │
│ 29102.0   ┆ <50K         │
│ 70390.0   ┆ 50K to 100K  │
│ 60770.02  ┆ 50K to 100K  │
│ …         ┆ …            │
│ 104031.0  ┆ 100K to 250K │
│ 59461.0   ┆ 50K to 100K  │
│ 77204.21  ┆ 50K to 100K  │
│ 77204.21  ┆ 50K to 100K  │
│ 77204.21  ┆ 50K to 100K  │
└───────────┴──────────────┘

## Tests

In [ ]:
makes = ['TOYOTA', 'NISSAN']
vs_q.with_columns(
    pl.col('Make').cast(pl.Categorical)

).filter(
    pl.col('Make').is_in(makes)
).collect()

shape: (2_000_113, 13)
┌───────────────┬────────┬─────────┬──────────────┬───┬─────────┬────────┬──────────┬──────────────┐
│ VIN           ┆ Make   ┆ Model   ┆ CompanyName  ┆ … ┆ Region  ┆ Colour ┆ FuelType ┆ BodyType     │
│ ---           ┆ ---    ┆ ---     ┆ ---          ┆   ┆ ---     ┆ ---    ┆ ---      ┆ ---          │
│ str           ┆ cat    ┆ str     ┆ str          ┆   ┆ str     ┆ str    ┆ str      ┆ str          │
╞═══════════════╪════════╪═════════╪══════════════╪═══╪═════════╪════════╪══════════╪══════════════╡
│ JN8AY2NY3G921 ┆ NISSAN ┆ PATROL  ┆ Methaq       ┆ … ┆ GCC     ┆ null   ┆ Petrol   ┆ SUV          │
│ 8676          ┆        ┆         ┆ Takaful      ┆   ┆         ┆        ┆          ┆              │
│               ┆        ┆         ┆ Insurance    ┆   ┆         ┆        ┆          ┆              │
│               ┆        ┆         ┆ Compa…       ┆   ┆         ┆        ┆          ┆              │
│ JTEGD52M08A00 ┆ TOYOTA ┆ PREVIA  ┆ Methaq       ┆ … ┆ GCC     ┆ null   ┆ Petrol   ┆ MPV          │
│ 4048          ┆        ┆         ┆ Takaful      ┆   ┆         ┆        ┆          ┆              │
│               ┆        ┆         ┆ Insurance    ┆   ┆         ┆        ┆          ┆              │
│               ┆        ┆         ┆ Compa…       ┆   ┆         ┆        ┆          ┆              │
│ 6T1BE42K58X49 ┆ TOYOTA ┆ CAMRY   ┆ Methaq       ┆ … ┆ GCC     ┆ null   ┆ Petrol   ┆ SEDAN        │
│ 9283          ┆        ┆         ┆ Takaful      ┆   ┆         ┆        ┆          ┆              │
│               ┆        ┆         ┆ Insurance    ┆   ┆         ┆        ┆          ┆              │
│               ┆        ┆         ┆ Compa…       ┆   ┆         ┆        ┆          ┆              │
│ 4T1B11HK9JU64 ┆ TOYOTA ┆ CAMRY   ┆ Oman Qatar   ┆ … ┆ NON-GCC ┆ null   ┆ Petrol   ┆ SEDAN        │
│ 5348          ┆        ┆         ┆ Insurance    ┆   ┆         ┆        ┆          ┆              │
│               ┆        ┆         ┆ Company      ┆   ┆         ┆        ┆          ┆              │
│ JN8AY2NYXK936 ┆ NISSAN ┆ PATROL  ┆ United       ┆ … ┆ GCC     ┆ null   ┆ Petrol   ┆ SUV          │
│ 7742          ┆        ┆         ┆ Fidelity     ┆   ┆         ┆        ┆          ┆              │
│               ┆        ┆         ┆ Insurance    ┆   ┆         ┆        ┆          ┆              │
│               ┆        ┆         ┆ Comp…        ┆   ┆         ┆        ┆          ┆              │
│ …             ┆ …      ┆ …       ┆ …            ┆ … ┆ …       ┆ …      ┆ …        ┆ …            │
│ MDHBN7ADXDG01 ┆ NISSAN ┆ SUNNY   ┆ Rasan        ┆ … ┆ GCC     ┆ null   ┆ Petrol   ┆ SEDAN        │
│ 5932          ┆        ┆         ┆              ┆   ┆         ┆        ┆          ┆              │
│ JN6DD23S29X24 ┆ NISSAN ┆ PICK UP ┆ Rasan        ┆ … ┆ GCC     ┆ null   ┆ Petrol   ┆ PICK UP      │
│ 2286          ┆        ┆         ┆              ┆   ┆         ┆        ┆          ┆ SINGLE CAB   │
│ JTDBV42E0C902 ┆ TOYOTA ┆ COROLLA ┆ Rasan        ┆ … ┆ GCC     ┆ null   ┆ Petrol   ┆ SEDAN        │
│ 2901          ┆        ┆         ┆              ┆   ┆         ┆        ┆          ┆              │
│ JTDBW923XDL06 ┆ TOYOTA ┆ YARIS   ┆ Rasan        ┆ … ┆ GCC     ┆ null   ┆ Petrol   ┆ SEDAN        │
│ 4506          ┆        ┆         ┆              ┆   ┆         ┆        ┆          ┆              │
│ 6T1BE33K84X43 ┆ TOYOTA ┆ CAMRY   ┆ Rasan        ┆ … ┆ GCC     ┆ null   ┆ Petrol   ┆ SEDAN        │
│ 3197          ┆        ┆         ┆              ┆   ┆         ┆        ┆          ┆              │
└───────────────┴────────┴─────────┴──────────────┴───┴─────────┴────────┴──────────┴──────────────┘

## Pivoting

In [13]:
vsp = pl.scan_parquet('data/VS_Q1_2025_processed.parquet')

In [14]:
year_ranges_enum = pl.Enum(['1900 to 2000', '2000 to 2010', '2010 to 2015', '2015 to 2020', '2020 to 2024', '2025 to Present'])

In [15]:
top_makes = vsp.group_by(
    pl.col('Make'),
).agg(
    pl.col('Make').count().alias('make_count')
).sort(
    by='make_count', descending=True
).select(
    pl.col('Make')
).limit(10)

In [8]:
q = (
    vsp.join(top_makes, on='Make', how='inner')\
    .select(
        pl.col('Make').cast(pl.Categorical),
        pl.col('ModelYearRanges').cast(year_ranges_enum),
        pl.col('InquiryDate')
    )
    .collect()\
    .pivot(
        index='Make', 
        on='ModelYearRanges', 
        values='InquiryDate', 
        aggregate_function='len')\
    .lazy()
)

out = q.collect().to_pandas()

In [16]:
out

,Make,1900 to 2000,2000 to 2010,2010 to 2015,2015 to 2020,2020 to 2024,2025 to Present
0,KIA,131,8024,44433,48275,36604,2299
1,HYUNDAI,247,19169,83939,101293,44592,4931
2,CHEVROLET,1085,15853,31977,40827,35047,3245
3,MITSUBISHI,1590,31304,37531,49889,25567,2221
4,HONDA,1592,40395,34663,36811,18829,577
5,MERCEDES BENZ,23472,11137,37476,67133,45734,3429
6,TOYOTA,20427,170531,220455,175429,174576,18247
7,FORD,733,16182,52681,40018,22418,2181
8,LEXUS,11188,54264,42462,43417,33327,2409
9,NISSAN,9355,82700,161847,199036,125130,10144

In [23]:
import polars as pl

grouped_and_counted_lazy = (
    vsp.join(top_makes, on='Make', how='inner')
    .select(
        pl.col('Make').cast(pl.Categorical),
        pl.col('ModelYearRanges').cast(year_ranges_enum),
    )
    .group_by(['Make', 'ModelYearRanges'])
    .agg(
        pl.len().alias('count') # pl.len() counts the number of rows in each group
    )
)

pivoted_result = (
    grouped_and_counted_lazy
    .collect()
    .sort(by='ModelYearRanges') # Collects the Make, ModelYearRanges, count table
    .pivot(
        index='Make',
        on='ModelYearRanges',
        values='count'
    )
    .lazy() # Make it lazy again if you have more steps
)

out = pivoted_result.collect().to_pandas()

In [28]:
out

,Make,1900 to 2000,2000 to 2010,2010 to 2015,2015 to 2020,2020 to 2024,2025 to Present
0,NISSAN,9355,82700,161847,199036,125130,10144
1,FORD,733,16182,52681,40018,22418,2181
2,MITSUBISHI,1590,31304,37531,49889,25567,2221
3,TOYOTA,20427,170531,220455,175429,174576,18247
4,MERCEDES BENZ,23472,11137,37476,67133,45734,3429
5,KIA,131,8024,44433,48275,36604,2299
6,CHEVROLET,1085,15853,31977,40827,35047,3245
7,HONDA,1592,40395,34663,36811,18829,577
8,HYUNDAI,247,19169,83939,101293,44592,4931
9,LEXUS,11188,54264,42462,43417,33327,2409

In [27]:
out.set_index('Make').fillna(0, inplace=True)

## Trends

In [31]:
q = (
    vs_q.select(
        pl.col('InquiryDate').str.to_datetime('%Y-%m-%d %H:%M:%S').dt.date()
    )
    .sort('InquiryDate')
    .group_by_dynamic(
        index_column='InquiryDate',
        every='1d'
    )
    .agg(
        pl.len().alias('daily_inquiries')
    )
)

In [33]:
q.collect()

shape: (121, 2)
┌─────────────┬─────────────────┐
│ InquiryDate ┆ daily_inquiries │
│ ---         ┆ ---             │
│ date        ┆ u32             │
╞═════════════╪═════════════════╡
│ 2024-12-31  ┆ 35100           │
│ 2025-01-01  ┆ 7305            │
│ 2025-01-02  ┆ 48051           │
│ 2025-01-03  ┆ 39210           │
│ 2025-01-04  ┆ 29956           │
│ …           ┆ …               │
│ 2025-04-26  ┆ 95990           │
│ 2025-04-27  ┆ 120639          │
│ 2025-04-28  ┆ 137948          │
│ 2025-04-29  ┆ 108476          │
│ 2025-04-30  ┆ 100755          │
└─────────────┴─────────────────┘

## Claims

In [2]:
cmf_q = pl.scan_parquet('data/Claims.parquet')

In [77]:
full_specs_cmf = cmf_q.group_by(
    pl.col('Make')
).agg(
    pl.col('RepairValue').mean().alias('count')
).filter(
    pl.col('count').is_not_null()
).sort(
    by=pl.col('count'),
    descending=True
).collect()

In [78]:
full_specs_cmf.head(10)

shape: (10, 2)
┌──────────────┬──────────────┐
│ Make         ┆ count        │
│ ---          ┆ ---          │
│ str          ┆ f64          │
╞══════════════╪══════════════╡
│ FERRARI      ┆ 71795.766667 │
│ LAMBORGHINI  ┆ 70488.602679 │
│ ROLLS ROYCE  ┆ 32591.489796 │
│ BENTLEY      ┆ 28812.057333 │
│ ASTON MARTIN ┆ 21100.0      │
│ MCLAREN      ┆ 18714.2      │
│ LAND ROVER   ┆ 12274.536553 │
│ TESLA        ┆ 10745.2011   │
│ MASERATI     ┆ 10261.079044 │
│ PORSCHE      ┆ 8615.985614  │
└──────────────┴──────────────┘

In [26]:
grouped_data = (
    cmf_q.select(
        pl.col('FullSpec').cast(
            pl.String).cast(pl.Categorical)
    )
    .group_by(
        pl.col('FullSpec')
    )
    .agg(
        pl.col('FullSpec').count().alias('count')
    )
).collect()

In [27]:
grouped_data

shape: (5_393, 2)
┌──────────────────────────┬───────┐
│ FullSpec                 ┆ count │
│ ---                      ┆ ---   │
│ cat                      ┆ u32   │
╞══════════════════════════╪═══════╡
│ LAMBORGHINI HURACAN 2016 ┆ 1     │
│ ROLLS ROYCE GHOST 2013   ┆ 5     │
│ LAMBORGHINI URUS 2019    ┆ 1     │
│ JAGUAR XE 2017           ┆ 3     │
│ MERCEDES BENZ AMG 2017   ┆ 21    │
│ …                        ┆ …     │
│ CADILLAC                 ┆ 1     │
│ JAGUAR X TYPE            ┆ 1     │
│  ELANTRA                 ┆ 1     │
│ GAC GA8                  ┆ 1     │
│ PEUGEOT RCZ              ┆ 1     │
└──────────────────────────┴───────┘

In [37]:
grouped_data = grouped_data.with_columns(
    normalized_count=(100 * pl.col('count') / pl.col('count').sum()).cast(pl.Float32)
)

In [38]:
grouped_data = grouped_data.sort(
    by='normalized_count', descending=True
)

In [3]:
company_group = cmf_q.group_by(
    pl.col('CompanyName')
).agg(
    pl.len().alias('count')
).collect()

In [5]:
company_group.to_arrow()

pyarrow.Table
CompanyName: large_string
count: uint32
----
CompanyName: [["United Fidelity Insurance Company","At Fault","Adamjee","InsureFlow","Arabia"]]
count: [[13434,25621,7839,58617,3123]]

## Preprocessing

In [66]:
import json

with open('data/make_countries.json', 'r') as f:
    make_countries = json.load(f)

In [79]:
claims_pq = pl.scan_csv('data/Claims.csv', schema_overrides=
                        {
                            'Accident Report ID': pl.String
                        })

In [ ]:

vv_pq = vv_q.with_columns(
    pl.col('Price').cut(
        breaks=[50000, 100000, 250000, 500000, 1000000],
        labels=['<50K', '50K to 100K', '100K to 250K', '250K to 500K', '500K to 1M', '>1M'],
    ).alias('PriceBracket'),
    pl.when(pl.col('Make').is_in(list(make_countries.keys())))\
    .then(pl.col('Make').replace(make_countries))\
    .otherwise(pl.col('Make'))\
    .alias('Country')
)

vs_pq = vs_q.filter(
    pl.col('EngineSize').is_not_null(),
    pl.col('ModelYear').is_not_null(),
    pl.col('FuelType').is_not_null(),
    pl.col('Make').is_not_null(),
    pl.col('Model').is_not_null(),
    pl.col('InquiryDate').is_not_null(),
    pl.col('EngineSize') != ' ',
    pl.col('EngineSize') != '',
    
).with_columns(
    pl.col('EngineSize').str.replace('L', '').str.replace(' ', '').cast(pl.Float32).alias('EngineSizeNumeric'),
    pl.col('ModelYear').cast(pl.Int32).alias('ModelYearNumeric'),
    # isev
    pl.when(pl.col('FuelType').str.contains('Electricity') | pl.col('FuelType').str.contains('Petrol + Electricity') ).then(True).otherwise(False).alias('IsEV'),
)

vs_pq = vs_pq.with_columns(
    pl.col('ModelYearNumeric').cut(
        breaks=[2000, 2010, 2015, 2020, 2024],
        labels=['1900 to 2000', '2000 to 2010', '2010 to 2015', '2015 to 2020', '2020 to 2024', '2025 to Present'],
    ).alias('ModelYearRanges'),
    pl.col('EngineSizeNumeric').cut(
        breaks=[2.0, 3.0, 4.0, 5.0],
        labels=['<2.0L', '2.0 to 3.0L', '3.0 to 4.0L', '4.0 to 5.0L', '>5.0L'],
    ).alias('EngineSizeBracket'),
    pl.when(pl.col('Make').is_in(list(make_countries.keys())))\
    .then(pl.col('Make').replace(make_countries))\
    .otherwise(pl.col('Make'))\
    .alias('Country')
)

In [80]:

claims_pq = claims_pq.with_columns(
    pl.when(pl.col('Make').is_in(list(make_countries.keys())))\
    .then(pl.col('Make').replace(make_countries))\
    .otherwise(pl.col('Make'))\
    .alias('Country')
)

In [81]:
pprint(claims_pq.explain())

(' WITH_COLUMNS:\n'
 ' [when(col("Make").is_in([["MERCEDES BENZ", "BMW", … '
 '"LADA"]])).then(col("Make").replace([Series.implode(), '
 'Series.implode()])).otherwise(col("Make")).alias("Country")] \n'
 '  Csv SCAN [data/Claims.csv]\n'
 '  PROJECT */25 COLUMNS')

In [73]:
pprint(vv_pq.explain())

(' WITH_COLUMNS:\n'
 ' [col("Price").cut().alias("PriceBracket"), '
 'when(col("Make").is_in([["MERCEDES BENZ", "BMW", … '
 '"LADA"]])).then(col("Make").replace([Series.implode(), '
 'Series.implode()])).otherwise(col("Make")).alias("Country")] \n'
 '  Parquet SCAN [data/VV_Q1_2025.parquet]\n'
 '  PROJECT */33 COLUMNS')

In [74]:
pprint(vs_pq.explain())

('simple π 19/19 ["VIN", "Make", "Model", ... 16 other columns]\n'
 '   WITH_COLUMNS:\n'
 '   [col("ModelYearNumeric").cut().alias("ModelYearRanges"), '
 'col("EngineSizeNumeric").cut().alias("EngineSizeBracket")] \n'
 '     WITH_COLUMNS:\n'
 '     [col("EngineSize").str.replace(["L", ""]).str.replace([" ", '
 '""]).strict_cast(Float32).alias("EngineSizeNumeric"), '
 'col("ModelYear").strict_cast(Int32).alias("ModelYearNumeric"), '
 'when([(col("FuelType").str.contains(["Electricity"])) | '
 '(col("FuelType").str.contains(["Petrol + '
 'Electricity"]))]).then(true).otherwise(false).alias("IsEV"), '
 'when(col("Make").is_in([["MERCEDES BENZ", "BMW", … '
 '"LADA"]])).then(col("Make").replace([Series.implode(), '
 'Series.implode()])).otherwise(col("Make")).alias("Country")] \n'
 '      Parquet SCAN [data/VS_Q1_2025.parquet]\n'
 '      PROJECT */13 COLUMNS\n'
 '      SELECTION: [([([([([(col("InquiryDate").is_not_null()) & '
 '(col("FuelType").is_not_null())]) & (col("Make").is_not_null())]) & '
 '(col("Model").is_not_null())]) & ([([(col("EngineSize")) != ("")]) & '
 '([([(col("EngineSize")) != (" ")]) & (col("EngineSize").is_not_null())])])]) '
 '& (col("ModelYear").is_not_null())]')

In [10]:
# vs_pq.collect().write_parquet('data/VS_Q1_2025_processed.parquet')
vv_pq.collect().write_parquet('data/VV_Q1_2025_processed.parquet')

NameError: name 'vv_pq' is not defined

In [76]:
vs_pq.collect().write_parquet('data/VS_Q1_2025_processed.parquet')

In [82]:
claims_pq.collect().write_parquet('data/Claims.parquet')